
extends layout

block content
    header.navbar.navbar-fixed-top.navbar-inverse
        div.navbar-inner
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(href="/index").navbar-brand Inicio
                nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation")
                    button#btn-logout.btn.btn-primary(data-toggle="modal", data-target="#myModal", style="margin-top:7px")
                        i.icon-lock.icon-white
                        |  Cerrar sesión
    div(ng-app="angularTrip")
        div(ng-controller="tripController")
            div.panel.panel-body.col-md-10.col-md-offset-1
                h1(style="text-align: center", ng-bind-template="{{trip.title}} ({{trip.moment | date:'dd/MM/yyyy'}})").red
            div.panel.panel-body.col-md-10.col-md-offset-1(style="text-align:center")
                div(style="float:left; margin-top: 25px").col-md-5
                    img(ng-src="/img/{{trip.image}}", height="300", width="400", style="margin-left: 10px; margin-bottom: 10px")
                div.col-md-7
                    h1(style="text-align: left;").separador-horizontal.green Detalles
                    div.row
                        div.col-md-6.izquierda.blue
                            h3 Lugar
                        div.col-md-6.izquierda.blue
                            h3 Día
                    div.row
                        div.col-md-6.izquierda
                            h3(ng-bind-template="{{trip.place}}")
                        div.col-md-6.izquierda
                            h3(ng-bind-template="{{trip.moment | date:'dd/MM/yyyy'}}")
                    div.row
                        div.col-md-6.izquierda.blue
                            h3 Precio
                    div.row
                        div.col-md-6.izquierda
                            div(ng-show="precioMayorQueCero()")
                                h3(ng-bind-template="{{trip.price}} euros")
                            div(ng-show="!precioMayorQueCero()")
                                h3(ng-bind-template="{{free}}")
            div.panel.panel-body.col-md-10.col-md-offset-1
                h3(style="text-align:justify; margin-top: 10px; margin-left:10px", ng-bind-template="{{trip.description}}").blue
            div.panel.panel-body.col-md-6.col-md-offset-3
                h1.red Comentarios
                form
                    textarea(placeholder="Escribe un comentario").form-control.nuevo-comentario



            div
                a(href="../icon/database")
                    i.fa.fa-database.fa-5x
                        fa-database

        include modals/alert
        include modals/confirm

block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/views/trip.js')
    script(src='/js/controllers/tripController.js')
    script(src='/js/form-validators/accountValidator.js')
    script(src='/js/angular.js')
    script(src='/js/angular/angularTrip.js')