
//#get-credentials.modal-single-input.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3 Recuperar contraseña
    div.modal-body
        form( method="post")#get-credentials-form.well.span5
            p Por favor, introduzca el email asociado a su cuenta
            input(type="text", name="email", id='email-tf').span5.required
            button(type="submit")#submit.btn.btn-primary Enviar
            button(data-dismiss="modal")#cancel.btn Cancelar
            div.alert.alert-error.hide
            button(data-dismiss="alert").close
    div.modal-footer


div.modal.fade#get-credentials(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title#modal-titulo Recuperar contraseña
            div.modal-body
                form( method="post")#get-credentials-form.well.span5
                    p Por favor, introduzca el email asociado a su cuenta
                    input(type="text", name="email", id='email-tf').span5.required
                    button(type="submit")#submit.btn.btn-primary Enviar
                    button(data-dismiss="modal")#cancel.btn Cancelar
                div.alert.alert-danger.hide
                button(data-dismiss="alert").close
            div.modal-footer