
div.modal.fade#set-password(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
        div.modal-content
            div.modal-header
                h3 Reestablecer contraseña
            div.modal-body
                form( method="post")#set-password-form.well.span5
                    p Por favor, introduzca su nueva contraseña
                    input(type="password", name="pass", id='pass-tf').span5.required
                    button(type="submit")#submit.btn.btn-primary Enviar
                    div.alert.alert-error.hide
                    button(data-dismiss="alert").close
            div.modal-footer